@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@custom-variant dark (&:is(.dark *));

:root {
    --dead-zone: #000000;
    --background: #fff9e3;
    --foreground: #081126;

    --primary: #527bda;
    --accent: #ea7a53;
    --muted: #f6eecf;
    --card: hsl(48, 68, 89 / 50);
    --muted-foreground: #666666;

    --border: hsl(none 0% 0% / 0.1);
    --success: #16a34a;
    --destructive: #e35454;
}

.dark {
    --background: #000000;
    --foreground: #ffffff;
    --dead-zone: #000000;

    --primary: #527bda;
    --accent: #f97316;

    --muted-foreground: #b3b3b3;
    --muted: #1e293b;
    --card: hsl(217°, 33%, 17% / 50);
    --border: #252b32;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-dead-zone: var(--dead-zone);
    --color-primary: var(--primary);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-card: var(--card);
    --color-border: var(--border);
    --color-success: var(--success);
    --color-destructive: var(--destructive);

    --font-sans: sans-regular;
    --font-light: sans-light;
    --font-medium: sans-medium;
    --font-semibold: sans-semibold;
    --font-bold: sans-bold;
    --font-extrabold: sans-extrabold;
}

@layer components {
    .row {
        @apply flex-row items-center;
    }
    .tabs-icon-wrapper {
        @apply relative size-12 items-center justify-center;
    }
}
